.brandingImage,
.myAwesomePortfolio {
  align-self: stretch;
  position: relative;
  line-height: 30px;
  font-weight: 600;
  font-family: var(--font-source-sans-pro);
  font-size: var(--font-size-9xl-2);
}

.myAwesomePortfolio {
  margin: 0;
  font-size: 80px;
  line-height: 90px;
  font-family: inherit;
}
.headlineSubhead1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.andIMade {
  align-self: stretch;
  position: relative;
  font-size: var(--body-text-size);
  line-height: 27px;
}
.headlineSubhead {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  gap: var(--gap-21xl);
  min-width: 362px;
  max-width: 100%;
}
.imageIcon {
  width: 495px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.header,
.header1 {
  display: flex;
  align-items: center;
  max-width: 100%;
}
.header1 {
  width: 1080px;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-9xl);
}
.header {
  align-self: stretch;
  background-color: var(--neutral-100);
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-81xl) var(--padding-xl);
  box-sizing: border-box;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--text-single-300-medium-size);
  color: var(--black);
  font-family: var(--body-text);
}
.clientsSectionParent,
.pxPortfolioTemplate {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.clientsSectionParent {
  align-self: stretch;
  max-width: 100%;
  flex-shrink: 0;
}
.pxPortfolioTemplate {
  width: 100%;
  position: relative;
  line-height: normal;
  letter-spacing: normal;
}
.embrace {
  height: 32px;
  position: relative;
  letter-spacing: -2px;
  text-transform: capitalize;
  display: inline-block;
  min-width: 108px;
  white-space: nowrap;
  font-family: var(--font-source-sans-pro);
  font-size: var(--font-size-9xl-2);
}
@media screen and (max-width: 1025px) {
  .myAwesomePortfolio {
    font-size: var(--font-size-21xl);
    line-height: 54px;
  }
  .imageIcon {
    flex: 1;
  }
  .header1 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .headlineSubhead,
  .headlineSubhead1 {
    gap: var(--gap-xl);
  }
  .header {
    padding-top: var(--padding-46xl);
    padding-bottom: var(--padding-46xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .brandingImage {
    font-size: var(--text-single-100-regular-size);
    line-height: 24px;
  }
  .myAwesomePortfolio {
    font-size: var(--headings-typography-size-3-size);
    line-height: 36px;
  }
  .headlineSubhead {
    min-width: 100%;
  }
}
