.privacyPolicyIcon,
.privacyPolicyIcon1 {
  height: 190px;
  width: 190px;
  position: relative;
  border-radius: 26.34px;
  object-fit: cover;
}
.privacyPolicyIcon1 {
  border-radius: 26.21px;
}
.privacyPolicyIcon2,
.privacyPolicyIcon3 {
  height: 190px;
  width: 190px;
  position: relative;
  border-radius: var(--br-95xl);
  object-fit: contain;
}
.privacyPolicyIcon3 {
  border-radius: var(--br-96xl);
}
.privacyPolicyIcon4,
.privacyPolicyIcon5 {
  height: 190px;
  width: 190px;
  position: relative;
  border-radius: 26.07px;
  object-fit: cover;
}
.privacyPolicyIcon5 {
  border-radius: 26.21px;
}
.privacyPolicyParent {
  width: 610px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px 18px;
  min-width: 610px;
  min-height: 400px;
  max-width: 100%;
}
.meetOurTeam {
  margin: 0;
  width: 474px;
  height: 86px;
  position: relative;
  font-size: inherit;
  letter-spacing: -1px;
  text-transform: capitalize;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.discoverTheBrilliance {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 32px;
  font-family: var(--font-albert-sans);
  color: var(--color-gray-500);
  white-space: pre-wrap;
}
.meetOurTeamParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xl);
  max-width: 100%;
}
.learnMore {
  height: 32px;
  position: relative;
  font-size: var(--font-size-5xl);
  text-transform: capitalize;
  font-weight: 500;
  font-family: var(--font-aboreto);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 126px;
}
.learnMoreWrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-29xl);
  background-color: var(--color-mediumslateblue-200);
  border-radius: var(--br-50xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
.learnMoreWrapper:hover {
  background-color: var(--color-royalblue);
}
.frameGroup,
.frameParent,
.landingPageInner {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameGroup {
  width: 486px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-140xl);
  min-width: 486px;
}
.frameParent,
.landingPageInner {
  flex-direction: row;
}
.frameParent {
  width: 1198px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.landingPageInner {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-98xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--color-black);
  font-family: var(--font-aboreto);
}
@media screen and (max-width: 1250px) {
  .frameGroup,
  .privacyPolicyParent {
    flex: 1;
  }
  .frameParent {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 750px) {
  .privacyPolicyParent {
    min-width: 100%;
  }
  .meetOurTeam {
    font-size: var(--font-size-32xl);
  }
  .frameGroup {
    gap: var(--gap-60xl);
    min-width: 100%;
  }
  .landingPageInner {
    padding-bottom: var(--padding-57xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .meetOurTeam {
    font-size: var(--font-size-19xl);
  }
}
